body {
  background-color: rgb(228, 235, 221);
}

.App {
  text-align: center;
}

a {
  color: #cf2d91;
}

p {
  font-size: 1.2em;
}

h2, h3, h4, p { 
  color: rgb(168, 16, 100);
}

li {
  list-style: none;
}