.gallery img {
    position: static;
    width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    gap: 1rem;
    padding-left: 1rem;
}