.project_details {
    position: relative;
    background-color: rgb(169, 190, 113);
    margin:  2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 1rem;
    box-shadow: 10px 10px 0px 0px rgb(39, 93, 114);
    border-radius: 1rem;
    border-right: 10px solid rgb(247, 154, 100);
    border-bottom: 10px solid rgb(247, 154, 100);
}

.project_details section {
    width: fit-content;
}

@media only screen and (max-width: 1200px) {
    .project_details{
        flex-direction: column;
    }

    .project_details section {
        width: 100%;
    }
}

.project_details section:first-child{
    height: fit-content;
    text-align: left;
}

.project_details section + section {
    border-left: 3px double rgb(39, 93, 114);
    background-color: rgb(247, 228, 187);
}

.project_details h3 {
    font-size: 4rem;
    width: auto;
    margin: 0;
}

.project_details .description {
    background-color: rgb(247, 228, 187);
    padding: 2rem;
    border-radius: 1rem;
}

.project_duration {
    width: fit-content;
    margin: 0;
    font-size: 2rem;
    text-align: left;
    font-weight: bolder;
    color: rgba(18, 116, 155, .8);
}