.project_details {
    position: relative;
    background-color: rgb(152, 189, 93);
    margin:  2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    width: inherit;
    gap: 1rem;
    box-shadow: 10px 10px 0px 0px rgb(39, 93, 114);
    border-radius: 1rem;
    border-right: 10px solid rgb(236, 150, 37);
    border-bottom: 10px solid rgb(236, 150, 37);
}
.project_details section {
    width: fit-content;
}

.project_details section:first-child{
    height: fit-content;
    text-align: left;
}

.project_details section + section {
    border-left: 3px double rgb(39, 93, 114);
}

.project_details h3 {
    font-size: 4rem;
    width: auto;
    margin: 0;
}

.project_details .description {
    background-color: rgba(248, 255, 221, .8);
    padding: 2rem;
    border-radius: 1rem;
}

.project_duration {
    width: fit-content;
    margin: 0;
    font-size: 2rem;
    text-align: left;
    font-weight: bolder;
    color: rgb(39, 93, 114);
    opacity: .8;
}